
<!DOCTYPE html>
<html>
  <head>
    <title>Users app</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" 
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" 
          crossorigin="anonymous">
  </head>
  <body>
    <header>
      <h1>
        Voting App
      </h1>
      <h4>
        Create your own polls
      </h4>
      <form action="/" method="get">
        <button class="btn btn-success">
          All Polls
        </button>
      </form> 
    </header>

    <main>
      <div class="container">
        <div class="row">
          <div class="col col-4"></div>
          <div class="col col-4 account-wall">
            <h4>
              Log in to your profile
            </h4><br>
            <form class= "login-form" action= "/login" method= "post">
              <input type="text" maxlength="100" placeholder="username" name="username" class="form-control" required>
              <input type="password" maxlength="100" placeholder="password" name="password" class="form-control" required><br>
              <button type="submit" class="btn btn-block btn-primary">Log In</button>
            </form><br>
            <a href="/register">Click here to register</a>
          </div>   
          <div class="col col-4"></div>
          </div>
        </div>
    </main>

    <footer>
      <p>
        by Michelino
      </p>
    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" 
            integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" 
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" 
            integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" 
            crossorigin="anonymous"></script>
    <script src="/login.js"></script>
    

  </body>
</html>
