<!DOCTYPE html>
<html>
  <head>
    <title>Polls app</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" 
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" 
          crossorigin="anonymous">
  </head>
  <body>
    <header>
      <h1>
        Voting App
      </h1>
      <h4>
        Create your own polls
      </h4>
      <div class="container">
        <div class="row">
          <div class="col col-4"></div>
          <div class="col col-2">
            <form action="/login" method = "get" id="log-in" class="hidden">
              <button class="btn">
                Log In
              </button>
            </form>   
            <form action="/home" method="get" id="home" class="hidden">
              <button class="btn btn-success">
                Your Polls
              </button>
            </form>
          </div>
          <div class="col col-2">
            <form action="/register" method="get" id="sign-up" class="hidden">
              <button class="btn">
                Sign Up
              </button>
            </form>  
            <form action="/logout" method="get" id="log-out" class="logout-form hidden">
              <button class="btn btn-danger">
                Logout
              </button>
            </form>             
          </div>       
          <div class="col col-4"></div>
        </div>
      </div>
    </header>

    <main>
      <div class="container">
        <div class="row">
          <div class="col col-6">
            <h4 class= "text-center">
              All the polls:
            </h4>
            <div class="poll-list"></div>          
          </div>
          <div class="col col-6">
            <h4 class="graph-title text-center"></h4>
            <p class="graph-subtitle text-center"></p>
            <svg class="chart chart-style"></svg>
          </div>
        </div>             
      </div>
    </main>
    
    <footer>
      <p>
        by Michelino
      </p>
    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" 
            integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" 
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" 
            integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" 
            crossorigin="anonymous"></script>
    <script src="/main.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    

  </body>
</html>
